<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()">
    <div class="form-group"><!--nesse trecho de codigo ocorre oque chamamos de two-way data binding, onde o trecho ngModel manda a informação de usuario e senha para o login-component.ts-->
        <input 
        class="form-control" 
        placeholder="Nome do usuario"
        [(ngModel)]="usuario"
        name="usuario"
        />
    </div>

    <div class="form-group">
        <input 
        type="password" 
        class="form-control"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
        />
    </div>

    <button type="submit" class="btn btn-primary btn-block">login</button>
</form>